Final_Deliverables/Final code/Node Red Flow/Login page.json
[{"id":"896a2122e9516b8c","type":"tab","label":"Welcome","disabled":false,"info":""},{"id":"a946d6e03886c064","type":"ui_text","z":"896a2122e9516b8c","group":"ed49c469.856168","order":1,"width":16,"height":4,"name":"","label":"IBM Nalaiya Thiran","format":"<H1><font color =amber>{{msg.payload}}</font></H1>","layout":"col-center","className":"","x":1010,"y":40,"wires":[]},{"id":"80382534074c26ad","type":"function","z":"896a2122e9516b8c","name":"welcome message","func":"msg.payload=\"Smart Waste Management System for Metropolitan Cities\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":20,"wires":[["a946d6e03886c064"]]},{"id":"0cf5522b914efe0d","type":"ui_ui_control","z":"896a2122e9516b8c","name":"","events":"connect","x":1440,"y":260,"wires":[["f0212b21309cc327"]]},{"id":"ddc5a420ad9710a4","type":"ui_form","z":"896a2122e9516b8c","name":"Login Form","label":"","group":"426bc9a6.41db68","order":1,"width":0,"height":0,"options":[{"label":"Email","value":"email","type":"email","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","topicType":"str","splitLayout":false,"className":"","x":470,"y":820,"wires":[["ff34e50724c30bf6"]]},{"id":"505558b683d89fde","type":"ui_text","z":"896a2122e9516b8c","group":"ed49c469.856168","order":2,"width":16,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","x":1210,"y":120,"wires":[]},{"id":"76eec5615d6bfacd","type":"ui_button","z":"896a2122e9516b8c","name":"","group":"3b55c2c0.f938de","order":1,"width":5,"height":1,"passthru":true,"label":"Login","tooltip":"","color":"brown","bgcolor":"yellow","className":"","icon":"","payload":"{\"group\":{\"show\":\"Home_Login\"}}","payloadType":"json","topic":"","topicType":"str","x":110,"y":120,"wires":[["0cf5522b914efe0d"]]},{"id":"ff34e50724c30bf6","type":"switch","z":"896a2122e9516b8c","name":"","property":"payload.password","propertyType":"msg","rules":[{"t":"eq","v":"Msdhoni@73","vt":"str"},{"t":"neq","v":"Msdhoni@73","vt":"str"}],"checkall":"false","repair":true,"outputs":2,"x":770,"y":820,"wires":[["d2bcb7207a82bddf","d79af59042b06c5c"],["5d0b3464e1c51998"]]},{"id":"d79af59042b06c5c","type":"function","z":"896a2122e9516b8c","name":"after login","func":"msg.payload={\n    \"group\": {\n        \"hide\": [\n            \"Home_Login\",\n            \"Home_group\"\n        ],\"show\":[\"Home_group1\"]\n    },\n    \"tabs\": {\n        \"show\": [\n            \"Dashboard\"\n        ]\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":820,"wires":[["0cf5522b914efe0d","b0b8e0e04c847354"]]},{"id":"e92d6b66f693a157","type":"function","z":"896a2122e9516b8c","name":"text at start","func":"msg.payload=\"Welcome\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":340,"wires":[["505558b683d89fde"]]},{"id":"9513e84dde49565a","type":"ui_button","z":"896a2122e9516b8c","name":"","group":"47d581f.86ea78","order":1,"width":5,"height":1,"passthru":false,"label":"Logout","tooltip":"","color":"brown","bgcolor":"yellow","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"Home_group1\"],\"show\":[\"Home_group\"]},\"tabs\":{\"hide\":[\"TruckDriver\",\"coadmin\",\"admin\"]}}","payloadType":"json","topic":"","topicType":"str","x":110,"y":260,"wires":[["0cf5522b914efe0d","b0c340c96c3b0440","f0212b21309cc327"]]},{"id":"b0c340c96c3b0440","type":"function","z":"896a2122e9516b8c","name":"","func":"msg.payload=\"Logged out\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":220,"wires":[["505558b683d89fde"]]},{"id":"f0212b21309cc327","type":"function","z":"896a2122e9516b8c","name":"Initial setup","func":"msg.payload={\n    \"group\": {\n        \"hide\": [\n            \"Home_Login\",\n            \"Home_Registration\",\n            \"Home_group1\"\n        ],\n        \"show\": \"Home_group\"\n    },\n    \"tabs\": {\n        \"hide\": [\n            \"Dashboard\"\n        ]\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":480,"wires":[["80382534074c26ad","0cf5522b914efe0d","e92d6b66f693a157"]]},{"id":"b0b8e0e04c847354","type":"debug","z":"896a2122e9516b8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1310,"y":1100,"wires":[]},{"id":"d2bcb7207a82bddf","type":"function","z":"896a2122e9516b8c","name":"","func":"msg.payload=\"Logged in\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":640,"wires":[["505558b683d89fde"]]},{"id":"5d0b3464e1c51998","type":"function","z":"896a2122e9516b8c","name":"","func":"msg.payload=\"Invalid Email id/password\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":991.8125,"y":700.8187255859375,"wires":[["505558b683d89fde"]]},{"id":"ed49c469.856168","type":"ui_group","name":"Team VVS","tab":"cf40fea6.09165","order":1,"disp":false,"width":16,"collapse":false,"className":""},{"id":"426bc9a6.41db68","type":"ui_group","name":"Login","tab":"cf40fea6.09165","order":4,"disp":true,"width":"6","collapse":false},{"id":"3b55c2c0.f938de","type":"ui_group","name":"group","tab":"cf40fea6.09165","order":2,"disp":false,"width":5,"collapse":false},{"id":"47d581f.86ea78","type":"ui_group","name":"group1","tab":"cf40fea6.09165","order":3,"disp":false,"width":5,"collapse":false},{"id":"cf40fea6.09165","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]