Final_Deliverables/Final code/Node Red Flow/Map Flows.json
[{"id":"c7781db639249c15","type":"tab","label":"Maps","disabled":false,"info":"","env":[]},{"id":"080977c56e499257","type":"ibmiot in","z":"c7781db639249c15","authentication":"apiKey","apiKey":"082dfd3cdf02914d","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"MSD","eventType":"+","commandType":"","format":"json","name":"IBM IoT 1","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":140,"y":540,"wires":[["152f737098da9511","b3624ff64a82c587"]]},{"id":"ed8c1e32.c79e28","type":"debug","z":"c7781db639249c15","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":460,"wires":[]},{"id":"152f737098da9511","type":"ui_gauge","z":"c7781db639249c15","name":"","group":"79340aa1a83ca384","order":1,"width":6,"height":6,"gtype":"donut","title":"FIll Percent (Point 1)","label":"units","format":"{{msg.payload.FillPercent}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":220,"y":640,"wires":[]},{"id":"b3624ff64a82c587","type":"function","z":"c7781db639249c15","name":"","func":"msg.topic=\"Iot\"\nmsg.payload = {\n    name:msg.payload.Name,\n    garbagefillpercent:msg.payload.FillPercent,\n    lat:msg.payload.Latitude,\n    lon:msg.payload.Longitude,\n    icon:msg.payload.Icon,\n    iconColor:msg.payload.Color\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":560,"wires":[["04f517c4bb70fcb1","ed8c1e32.c79e28"]]},{"id":"04f517c4bb70fcb1","type":"worldmap","z":"c7781db639249c15","name":"","lat":"13.16","lon":"80.24","zoom":"11","layer":"OSMG","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":700,"y":560,"wires":[]},{"id":"9f50979596d1a439","type":"ui_worldmap","z":"c7781db639249c15","group":"79340aa1a83ca384","order":1,"width":0,"height":0,"name":"","lat":"","lon":"","zoom":"","layer":"OSMG","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","showruler":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":540,"y":840,"wires":[]},{"id":"082dfd3cdf02914d","type":"ibmiot","name":"PRAVEEN","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"79340aa1a83ca384","type":"ui_group","name":"FillPercent","tab":"130fb7c75d018b52","order":2,"disp":true,"width":12,"collapse":false,"className":""},{"id":"130fb7c75d018b52","type":"ui_tab","name":"Dashboard","icon":"dashboard","disabled":false,"hidden":false}]